* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(IMG/ocean-1867285_1920.jpg);
    background-size: cover;
}

#blocoGeral {
    background-color: rgba(255, 255, 255, 0.11);
    width: 70vw;
    height: 80vh;
    margin-top: 4.5%;
    margin-bottom: 4.5%;
    margin-left: 14.5%;
    margin-right: 14.5%;
    display: inline-block;
    border-radius: 30px;
}

#menu {
    width: 80%;
    height: 10%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    background-color: rgba(169, 169, 169, 0.192);
    border-radius: 20px;
}

#menu li,
a {
    margin: 2%;
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

#sair {
    width: 6%;
    height: 20px;
    margin-left: 70%;
    text-decoration: none;
    background-color: rgba(17, 17, 17, 0.459);
    border-radius: 30px;
    border: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    outline: none;
}

#sair:hover {
    background-color: red;
}

#sair a {
    text-decoration: none;
    color: white;
}

#imgLogo {
    width: 90%;
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
    opacity: 20%;
    display: inline-block;
}

#form {
    width: 80%;
    height: 60%;
    margin-left: 10%;
    background-color: rgba(26, 24, 24, 0.192);
    border-radius: 20px;
    position: relative;
    bottom: 50%;
}

#infoPaciente {
    margin-left: 35%;
}

fieldset {
    margin-left: 5%;
    margin-top: 3%;
    border: none;
}

#nome {
    width: 40%;
    height: 20px;
    border: none;
    outline: none;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.527);
    color: white;
    text-align: center;
}

#dataNascimento {
    width: 10%;
    height: 20px;
    border: none;
    outline: none;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.527);
    color: white;
    text-align: center;
}

#bairro {
    width: 20%;
    height: 20px;
    border: none;
    outline: none;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.527);
    color: white;
    text-align: center;
}

#endereco {
    width: 30%;
    height: 20px;
    border: none;
    outline: none;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.527);
    color: white;
    text-align: center;
}

#sexo {
    width: 11%;
    height: 20px;
    border: none;
    outline: none;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.527);
    color: white;
    text-align: center;
}

#botaoCadastrar {
    width: 11%;
    height: 20px;
    margin-left: 5%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.527);
    color: white;
    border-radius: 20px;
}

#botaoCadastrar a {
    color: white;
    text-decoration: none;
}