* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("IMG/zero-take-Bnqi3VPs4so-unsplash.jpg");
}

#blocoCentral {
    margin: 10ch;
    background-color: #18e9cd9d;
}

li {
    float: left;
}

.botao {
    margin: 1em;
}