* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(IMG/ocean-1867285_1920.jpg);
    background-size: cover;
}

#blocoGeral {
    background-color: rgba(255, 255, 255, 0.11);
    width: 70vw;
    height: 80vh;
    margin-top: 4.5%;
    margin-bottom: 4.5%;
    margin-left: 14.5%;
    margin-right: 14.5%;
    display: inline-block;
    border-radius: 30px;
}

#menu {
    width: 80%;
    height: 10%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    background-color: rgba(169, 169, 169, 0.192);
    border-radius: 20px;
}

#menu li,
a {
    margin: 2%;
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

#sair {
    width: 6%;
    height: 20px;
    margin-left: 70%;
    text-decoration: none;
    background-color: rgba(17, 17, 17, 0.459);
    border-radius: 30px;
    border: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    outline: none;
}

#sair:hover {
    background-color: red;
}

#sair a {
    text-decoration: none;
    color: white;
}

#imgLogo {
    width: 90%;
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
    opacity: 20%;
    display: inline-block;
}

#form {
    width: 80%;
    height: 60%;
    margin-left: 10%;
    background-color: rgba(26, 24, 24, 0.192);
    border-radius: 20px;
    position: relative;
    bottom: 50%;
}

#pesquisa {
    margin-top: 2%;
    margin-left: 17.5%;
    display: inline-block;
}

#pesquisar {
    width: 30vw;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(36, 35, 35, 0.473);
    color: rgb(255, 255, 255);
    display: inline-block;
}

#pesquisar::placeholder {
    color: white;
}

#buscar {
    width: 6vw;
    height: 25px;
    border-radius: 20px;
    border: none;
    color: rgb(255, 255, 255);
    outline: none;
    background-color: rgba(37, 37, 37, 0.623);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#buscar:hover {
    background-color: black;
}

#resultado {
    width: 90%;
    height: 70%;
    margin-top: 4%;
    margin-left: 4.8%;
    border-radius: 20px;
    background-color: rgba(41, 41, 40, 0.26);
    text-align: center;
}