* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("IMG/ocean-1867285_1920.jpg");
    background-size: cover;
    width: 90vw;
    height: 90vh;
}

#blocoCentral {
    width: 70vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.11);
    margin-left: 16.7%;
    margin-top: 5%;
    border-radius: 2em;
    text-align: center;
}

menu {
    margin-left: 15%;
}

li {
    float: left;
    list-style-type: none;
    margin-top: 2%;
    margin-left: 3%;
}

li a {
    color: black;
    text-decoration: none;
}

#sair a {
    text-decoration: none;
    color: white;
}

#sair {
    width: 55px;
    height: 20px;
    margin-left: 65%;
    margin-top: 2%;
    background-color: rgba(17, 17, 17, 0.459);
    border-radius: 3em;
    border: 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#sair:hover {
    background-color: red;
}

.botao {
    margin: 1em;
}

div i {
    display: inline-block;
    color: black;
    margin-top: 5%;
}

img {
    width: 90%;
    margin-top: 6em;
    margin-left: -1.5em;
    opacity: 50%;
}